body
{
    font-family: "Roboto Condensed";
    margin:auto;
    background-color: white;
}
.fa{
    margin-top:19px;
    font-size: 38px;
    padding-bottom: 14px;
}
#ticketo{
    -webkit-transform: rotate(45deg);
    margin-left:-7px;
}
.price{
    font-size: 31px;
}
.ticket{
    margin-top: 50px;
    text-align:center;
    display: block;
    color:black;
    
    width:206px;
    height:219px;
}
nav{
    width:100%;
    height:32px;
    background-color: white;
    top:0;
    border-bottom: 3px solid black;
}
nav label{
    color:black;
    left:32px;
    position: absolute;
    font-weight: bold;
    height: 32px;
    width:152px;
    padding: 4px;
}
nav button{
    padding: 9px;
    font-size: 12px;
    font-weight: bold;
    width:220px;
    text-align: center;
    top:-1px;
    float: right;
    background-color:white;
    border:none;
    color:black;
    border-right:1px solid black;
    border-bottom: 2px solid black;
}
#cf{
    border-left:1px solid black;
    width:458px;
}
#bt{
    border-right: none;
    background-color: black;
    color:white;
}
.fa-question-circle-o{
    font-size: 20px;
    position: absolute;
    margin-top:2px;
    padding-left: 8px;
}
#circular1{
    margin-left:152px;
    display:block;
    padding-top: 7px;
    text-align: center;
    font-size: 7px;
    border:1px solid black;
    border-radius: 50%;
    width:32px;
    height:25px;
    position: absolute;
}
#circular2{
    margin-left:152px;
    display:block;
    padding-top: 7px;
    text-align: center;
    font-size: 6px;
    border:1px solid black;
    border-radius: 50%;
    width:32px;
    height:25px;
    position: absolute;
}
#wrapper{
    position: absolute;
    width:824px;
    right:60px;
}
form{
    width:206px;
    height:292px;
    float: right;
}
#btntday,#btnall,#btnworkshop,#btninfluencer{
    position: absolute;
    top:740px;
    padding-top: 9px;
}
#btnworkshop{
    background-color: rgb(230,231,233) !important;
}
#tday,#btntday{
     font-weight: bold;
     border:none;
     color:black;
     background-color: rgb(230,231,233);
}
#all,#btnall{
     font-weight: bold;
     border:none;
     color:black;
     background-color: rgb(255,242,0);
}
#workshop,#btnworkshop{
     font-weight: bold;
     border:none;
     color:black;
     background-color: white;
}
#influencer,#btninfluencer{
     font-weight: bold;
     border:none;
     color:white;
     background-color: black;
}
button{
    text-align: center;
    width:206px;
    height:34px;
    padding-bottom:12px;
}
h1{
    font-size: 34px;
    font-weight: bold;
}
.alertbtn{
    padding-top:5px;
    border-top:3px solid black;
    border-bottom:3px solid black;
    border-left: 3px solid black;
    border-right: 1px solid black;
    background-color: white;
    text-align: center;
    color: black;
    font-size: 15px;
    font-weight: bold;
    float: left;
}
#btnsignup{
    background-color: rgb(255,242,0);
    border-right: 3px solid black;
}
#signupform{
    text-align: center;
    position: absolute;
    text-align: center;
    bottom:-366px;
    width: 824px;
    height:127px;
    margin-left: 20%;
}
#signupform h1{
    margin-left: 23.5%;
    position: absolute;
    margin-top:-35px;
}
#allticketsdiv{
    position:absolute;
    padding-top: 25px;
    padding-left: 26px;
}
#allticketsdiv button{
    position: absolute;
    margin-top:-30px;
    width:147px;
    height:51px;
    background-color: black;
    color:white;
    border:none;
    font-weight: bold;
    padding-top: 10px;
}
#featureswrap{
    position: absolute;
    height:414px;
    width:439px;
    left:26px;
    top:338px;
    background-color: red;
    
}
.feats{
    padding-left: 10px;
    padding-top: 10px;
    height:36px;
    width: 429px;
    font-size: 20px;
    font-weight: bold;
    color:black;
    float: left;
}
.W{
    background-color: white;
}
.G{
    background-color: rgb(230,231,233);
}
#firstIncludes{
    position: absolute;
    width:206px;
    height: 414px;
    background-color: rgb(230,231,233);;
    right:678px;
    top:338px;
    z-index: 2;
}
#secondIncludes{
    position: absolute;
    width:206px;
    height: 414px;
    background-color: rgb(255,242,0);
    right:472px;
    top:338px;
    z-index: 2;
}
#thirdIncludes{
    position: absolute;
    width:206px;
    height: 414px;
    background-color: white;
    right:266px;
    top:338px;
    z-index: 2;
}
#fourthIncludes{
    position: absolute;
    width:206px;
    height: 414px;
    background-color: black;
    right:60px;
    top:338px;
    z-index: 2;
}
.incdiv{
    color: black;
    z-index: 3;
    float: left;
    text-align: center;
    width:206px;
    padding-top: 10px;
    height:35px;
    border-top: 1px solid white;
    background-color: rgba(225,225,225,0);
}
.incdivTwo{
    color: black;
    z-index: 3;
    float: left;
    text-align: center;
    width:206px;
    padding-top: 10px;
    height:35px;
    border-top: 1px solid rgb(115,115,115);
    background-color: rgba(225,225,225,0);
}
.incdivThree{
    color: white;
    z-index: 3;
    float: left;
    text-align: center;
    width:206px;
    padding-top: 10px;
    height:35px;
    border-top: 1px solid rgb(115,115,115);
    background-color: rgba(225,225,225,0);
}
.fa-circle{
    font-size: 18px;
    position: absolute;
    margin-top:2px;
    margin-left:-7px;
}