body{
    margin: auto;
    font-family: "Roboto Condensed";
}
/*header stuff*/
header{
    padding-top: 0;
    width: 100%;
    background-color: black;
    color:white;
    height:32px;
    border-bottom: 3px solid white;
}
header h2{
    float: left;
    padding-left: 2%;
    margin-top: 2px;
}
header button{
    height:100%;
    background-color: black;
    color:white;
    float: right;
    border:none;
    border-left: 1px solid white;
    font-size: 20px;
}
#btnBuyTickets{
    width: 80%;
    height:15%;
    background-color: white;
    color:black;
    border:none;
    border-bottom: 2px solid black;
    padding:0 10% 10px 10%;
    position: absolute;
    font-weight: 800;
    font-size: 28px;
    top:6%;
}
/*main stuff*/
main{
    width: 100%;
    text-align: center;
}
main table{
    border:14px solid white;
    padding-top:100px;
    display: inline-table;
}
main table th{
    border:7px solid white;
}
.ticketInfo .fa{
    font-size: 60px;
}
.price{
    font-size: 45px;
    font-weight: 800;
}
.seal{
    position: absolute;
    margin-left: 155px;
    margin-top: -10px;
    width:1px;
    border:1px solid black;
    display:block;
    text-align: center;
    font-size: 7px;
    font-weight: bold;
    border-radius: 50%;
    width:38px;
    height:38px;
}
.ticketInfo{
    height: 221px;
    width: 207px;
    background-color: yellow;
    font-size: 21px;
}
.buyBtn{
    height:35px;
    width: 207px;
}
.featInfo{
    height: 129px;
    width: 207px;
    background-color: white;
}
.buyBtn button{
    border:none;
    width:100%;
    height: 100%;
    font-weight: bold;
}
ul{
    left:-10px;
    position: relative;
    text-align: left;
    font-weight: lighter;
    font-size: 14px;
}
/*footer shtuffz*/
footer{
    width: 100%;
    text-align: center;
    height: 260px;
}
footer h1{
    display: block;
    font-size: 41px;
}
footer nav{
    display: inline-table;
    padding-bottom: 25px;
}
.alertInput{
    border: 3px solid black;
    font-weight: bold;
    text-align: center;
    height: 42px;
    -webkit-text-fill-color: black;
}
#btnAlert{
    height: 47px;
    width: 172px;
    border-top: none;
}
#firstName{
    width: 211px;
}
#lastName{
    width:211px;
    border-left: none;
}
#eMail{
    width: 256px;
    border-top: none;
    border-right: none;
}
/*menu (tappin' da top right button)*/
#phantomHeader{
    width: 100%;
    background-color: black;
    color:white;
    height:32px;
}
#menu{
    display: none;
    top:0;
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: white;
    z-index: 5;
}
.headerBtn{
    height: 42px;
    border:none;
    border-bottom: 2px solid black;
    width: 100%;
    display: block;
    font-weight: bold;
}
/*colorz!*/
.Gray{
    background-color: rgb(230,231,233);
    color:black;
}
.Yellow{
    background-color: rgb(255,242,0);
    color:black;
}
.White{
    background-color: white;
    color:black;
}
.Black{
    background-color: black;
    color:white;
}